/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
}

/* Modal Content */
.modalContent {
  
    background-color: rgba(0,0,0,0,0.7);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 25px;
    width: 30vw;
    height: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    box-shadow: 6px 5px 5px red;
}

.modalContent h2{
    color: white;
    width: 100%;
    margin-top: 1em;
    text-align: center;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    margin-right: 10px;
    font-size: 28px;
    font-weight: bold;
    /* padding-right: 1em; */
}

.close:hover, .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/* .modalHeader {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 16px 16px;
    background-color: rgb(4, 213, 95);
    color: white;
    text-align: center;
} */

.modalBody {
    padding: 2px 16px;
}

.form-container{
    width: 100%;
    padding: 12px 12px;
}

.form-container input{
    display: flex;
    width: 100%;
    margin-top: 10px;
    padding: 10px 10px;
    border: 1px solid rgb(129, 125, 125);
    border-radius: 7px;
}

.form-container input:hover{
    border: 2px solid red;
    
}

.btn-02 {
    position: relative;
    background-color: red;
    color: white;
    margin-top: 35px;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-weight: 600;  
}

.btn-02:hover{
    background-color: rgba(255, 0, 0, 0.638);
}


@media screen and (max-width: 750px) {
    .modalContent {

       
        width: 50%;
        height: 40vh;
       
    }


    

}

@media screen and (max-width: 850px) {
    .modalContent {

       
        width: 50%;
        height: 35vh;
       
    }


    

}

