.navbar-toggler {
  margin: 0.5rem;
}

.navLink:hover {
  color: #ED184C;
  transition: 0.6s;
}

.navLink {
  font-size: 1.75em;
  font-weight: 100;
  margin: 0.3em;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: rgba(0, 0, 0, .55);
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
}