* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
    border: 0
  }

/* Estilização de Elemento Pai do body - background e overlay*/

.mainContent{
    background-repeat: no-repeat;
    background-size:cover;
    z-index: -1;
}

.overlayBackgroud {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 0;
}


/* Estilização do botão que leva ao modal */

.modalButtonSection{
    display: flex;
    justify-content: center;
    
}
.modalButton {
    color: #f4f4f4;
    cursor: pointer;
    width: 100px;
    height: 100px;   
    margin-top: 2.5em;
    margin-bottom: 2.5em;
}

.modalButton:hover { 
    color: #ED184C;
    transform: scale(1.4);
    transition: 0.5s;}

.movieTrailerContainer{
    width: 100%;
    height: 650px;
}

/* Estilização das caixas de texto */
.descriptionSection{ 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

/* Estilização do vídeo do modal */
.movieTrailer{
    width: 100%;
    height: 650px;
}


