* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
    border: 0
}

footer{
    display: block;
    
    background-color: rgb(24, 24, 26);
    
}





.footerContainer{
    display: flex;
    flex-direction: column;
   
}

.teamSection{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap ;
    justify-content: space-between;

}

.teamSection p{
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-style: bold;
    margin-top: 5px;
}

.aluno{
    display:flex;
    margin: 10px;
    flex-direction: row;
}

.social{
    display: flex;
    color: white;
    margin-left: 8px;
    gap: 10px;
    
}

.copyrightSection{
    color: rgba(255, 255, 255, 0.35);
    text-align: center;
    margin: 10px;
    font-style: italic;
} 


/*
desktop: 1200px; 
notebook: 992px;
tablet: 768px;
celular: 480px; 
colocar 100 vh no body
 */
