* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    list-style: none;
    box-sizing: border-box;
    border: 0
}

footer{
    display: block;
    background-color: rgb(24, 24, 26);
    
}





/* .footerContainer{
    display: flex;
    flex-direction: column;
   
} */

.teamSection{
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap ;
    justify-content: space-between;

}

.teamSection p{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-style: bold;
    margin-top: 5px;
}

.aluno{
    display: inline-block;
    align-items: center;
    margin-top: 10px;
    flex-direction: column;
    justify-items: center;
   
}



.aluno a {
    display: inline-block;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.aluno a:hover{
    color: rgb(122, 122, 221);
    transform: scale(1.4);
    transition: 0.5s;
}



.copyrightSection p{
    color: rgba(255, 255, 255, 0.35);
    text-align: center;
    font-style: italic;
    margin-top: 1.5em;
    margin-bottom: 2em;
} 




/*
desktop: 1200px; 
notebook: 992px;
tablet: 768px;
celular: 480px; 
colocar 100 vh no body
 */
